* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  font-size: 40px;
  margin: 40px;
  color: white;
}
a:hover {
  color: aquamarine;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 10px 12px rgba(0, 0, 0, 0.1);
}
.main {
  position: relative;
}
.main .img-1 {
  position: absolute;
  height: 320px;
  width: 320px;
  left: 800px;
  top: 250px;
}
.main .img-2 {
  position: absolute;
  height: 550px;
  width: 800px;
  right: 700px;
  top: 50px;
}
.main .img-3 {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 170px;
  top: 100px;
}
.main .img-4 {
  position: absolute;
  height: 140px;
  width: 140px;
  right: 197px;
  top: 125px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
ul {
  margin-top: 40px;
  list-style-type: circle;
}
h2 {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
header {
  background-color: #b2ecf0;
  height: 15vh;
  width: 100%;
  padding-top: 40px;
}
section {
  display: flex;
}
.menu {
  height: 70vh;
  width: 25%;
  background-color: #91d4d9;
}
.main {
  height: 70vh;
  width: 75%;
  background-color: #9fe2bf;
}
footer {
  height: 15vh;
  background-color: aquamarine;
  padding-top: 40px;
}
table {
  margin: 0 auto;

  border-collapse: collapse;
  width: 800px;

  border: 2px solid rgb(3, 85, 71);
}
td:hover {
  background-color: aquamarine;
}
th,
td {
  border: 2px solid rgb(3, 85, 71);
}
th {
  font-size: 30px;
  font-weight: 900;
  height: 70px;
}
.th-1 {
  width: 500px;
}
.th-2 {
  width: 700px;
}
td {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 900;
  height: 50px;
}
h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.input {
  margin: 0 auto;
  width: 800px;
  padding-top: 100px;
}
label {
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
input {
  margin-left: 20px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px #eee;
  border: 1px;
  font-size: 20px;
  padding-left: 10px;
}
.check-it {
  height: 40px;
  width: 200px;
  border-radius: 20px;
}
.check-it {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  border: none;

  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 2px #eee;
  border-radius: 10px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.check-it:hover {
  background-position: right center;
}
.btn-check {
  padding-top: 20px;
}
input:focus {
  outline: none;
}
.check-it:active {
  box-shadow: 0 0 30px #eee;
}
#result {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 900;
}
.img-1:hover {
  height: 400px;
  width: 400px;
  left: 760px;
  top: 220px;
}
.img-4:hover {
  height: 200px;
  width: 200px;
  right: 160px;
  top: 100px;
}
